@model List<BookStore.Business.ViewModels.BooksModel>

<h2>Books List</h2>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

@if (Model != null && Model.Any())
{
    <table id="booksTable" class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Price</th>
                <th>Publish Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Genre</td>
                    <td>@book.Price</td>
                    <td>@book.PublishDate.ToShortDateString()</td>
                    <td>@(book.Status ? "Available" : "Not Available")</td>
                    <td>
                        <button class="btn btn-primary" onclick="book.viewDetails('@book.Id','@book.Status')">View Details</button>
                        <button class="btn btn-success" onclick="book.addToCart('@book.Id','@book.Status')">
                            <img src="~/images/cart.png" alt="Cart" style="height: 20px; margin-right: 5px;" />
                            Add to Cart
                        </button>
                        <input type="hidden" class="bookId" value="@book.Id" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No books available.</p>
}
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('#booksTable').DataTable();
    });
</script>
<style>
    .input-group-append {
        margin-left: 6px; /* Adjust the margin as needed */
    }
</style>
